body {
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
}

#fondo {
    background-image: url(../imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#fondo2 {
    background-image: url(../imgs/fondo2.png);
    background-size: cover;
}

h1 {
    font-family: 'Alte Haas Grotesk', sans-serif;           
}

p {
    font-family: Helvetica, sans-serif;
}


h2, h3, h4 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }