body {
    background-image: url(../imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

h1 {
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-weight: bold;
}