body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

#fondo {
    background-image: url(../imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Saliara Love', sans-serif;
}